<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.kotlin.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.kotlin.first.KotlinActivity" />
        <activity android:name="com.example.kotlin.first.var1.VarActivity" />
        <activity android:name="com.example.kotlin.first.var1.FunActivity" />
        <activity android:name="com.example.kotlin.first.logic.LogicActivity" />
        <activity android:name="com.example.kotlin.first.obj.ObjActivity" />
        <activity android:name="com.example.kotlin.first.obj.obj1.ObjActivity1" />
        <activity android:name="com.example.kotlin.first.obj.obj2.ObjActivity2" />
        <activity android:name="com.example.kotlin.first.obj.obj3.ObjActivity3" />
        <activity android:name="com.example.kotlin.first.obj.obj4.ObjActivity4" />
        <activity android:name="com.example.kotlin.first.obj.obj5.ObjActivity5" />
        <activity android:name="com.example.kotlin.first.obj.obj6.ObjActivity6" />
        <activity android:name="com.example.kotlin.first.obj.obj7.ObjActivity7" />
        <activity android:name="com.example.kotlin.first.obj.obj8.ObjActivity8" />
        <activity android:name="com.example.kotlin.first.obj.obj9.ObjActivity9" />
        <activity android:name="com.example.kotlin.first.obj.obj10.ObjActivity10" />
        <activity android:name="com.example.kotlin.first.obj.obj11.ObjActivity11" />
        <activity android:name="com.example.kotlin.first.obj.data.DataActivity" />
        <activity android:name="com.example.kotlin.first.obj.singleton.SingletonActivity" />
        <activity android:name="com.example.kotlin.first.obj.obj12.ObjActivity12" />

        <activity android:name="com.example.kotlin.first.lambda.LambdaActivity" />
        <activity android:name="com.example.kotlin.first.npe.NpeActivity" />
        <activity android:name="com.example.kotlin.first.standard.StandardActivity" />
        <activity android:name="com.example.kotlin.first.standard.StandardActivity1" />
        <activity android:name="com.example.kotlin.first.late.LateActivity" />
        <activity android:name="com.example.kotlin.first.expand.ExpandActivity" />
        <activity android:name="com.example.kotlin.first.high_function.HighFunctionActivity" />

        <activity android:name="com.example.kotlin.first.generic.GenericActivity" />
        <activity android:name="com.example.kotlin.first.generic.test1.GenericActivity1" />
        <activity android:name="com.example.kotlin.first.generic.test2.GenericActivity2" />
        <activity android:name="com.example.kotlin.first.generic.test3.GenericActivity3" />
        <activity android:name="com.example.kotlin.first.generic.test4.GenericActivity4" />
        <activity android:name="com.example.kotlin.first.generic.test5.GenericActivity5" />
        <activity android:name="com.example.kotlin.first.generic.test6.GenericActivity6" />
        <activity android:name="com.example.kotlin.first.generic.test7.GenericActivity7" />
        <activity android:name="com.example.kotlin.mvc.MvcActivity" />


        <activity android:name="com.example.kotlin.mvc.java.MvcJavaActivity" />
        <activity android:name="com.example.kotlin.mvc.java.test_activity.view.TestMvpActivity" />
        <activity android:name="com.example.kotlin.mvc.java.test_fragment.view.TestFragmentActivity1" />
        <activity android:name="com.example.kotlin.mvc.java.test_multi_fragment.view.TestMultiPartyFragmentActivity" />
        <activity android:name="com.example.kotlin.mvc.java.test_multi_activity.view.TestMultiPartyActivity" />

        <activity android:name="com.example.kotlin.first.delegate.DelegateActivity" />
        <activity android:name="com.example.kotlin.first.delegate.test1.DelegateActivity1" />
        <activity android:name="com.example.kotlin.first.delegate.test2.DelegateActivity2" />
        <activity android:name="com.example.kotlin.first.delegate.test3.DelegateActivity3" />
        <activity android:name="com.example.kotlin.first.infix.InfixActivity" />
        <activity android:name="com.example.kotlin.first.coroutines.CoroutinesActivity" />
        <activity android:name="com.example.kotlin.first.coroutines.test1.CoroutinesFirstActivity1" />
        <activity android:name="com.example.kotlin.first.coroutines.test2.CoroutinesFirstActivity2" />
        <activity android:name="com.example.kotlin.first.coroutines.test3.CoroutinesFirstActivity3" />
        <activity android:name="com.example.kotlin.first.coroutines.test4.CoroutinesFirstActivity4" />
        <activity android:name="com.example.kotlin.first.coroutines.test5.CoroutinesFirstActivity5" />

        <activity android:name="com.example.kotlin.xiangxue.XiangxueActivity" />

        <activity android:name="com.example.kotlin.xiangxue.ui.UiActivity" />
        <activity android:name="com.example.kotlin.xiangxue.ui.recyclerview.RecyclerActivity" />
        <activity android:name="com.example.kotlin.xiangxue.ui.recyclerview.RecyclerViewActivity1" />

        <activity android:name="com.example.kotlin.first.jetpack.JetpackActivity" />
        <activity android:name="com.example.kotlin.first.jetpack.lifecycle.LifeCycleActivity" />
        <activity android:name="com.example.kotlin.first.jetpack.viewmodel.ViewModelActivity" />
        <activity android:name="com.example.kotlin.first.jetpack.viewmodel.ViewModelActivity2" />
        <activity android:name="com.example.kotlin.first.jetpack.livedata.LiveDataActivity" />
        <activity android:name="com.example.kotlin.first.jetpack.livedata.test1.LiveDataActivity1" />
        <activity android:name="com.example.kotlin.first.jetpack.livedata.test2.LiveDataActivity2" />
        <activity android:name="com.example.kotlin.first.jetpack.livedata.test3.LiveDataActivity3" />
        <activity android:name="com.example.kotlin.first.jetpack.livedata.test4.LiveDataActivity4" />
        <activity android:name="com.example.kotlin.first.jetpack.livedata.test5.LiveDataActivity5" />

        <activity android:name="com.example.kotlin.first.dsl.DslActivity" />
        <activity android:name="com.example.kotlin.first.dsl.test1.DslActivity1" />
        <activity android:name="com.example.kotlin.first.dsl.test2.DslActivity2" />

        <activity android:name="com.example.kotlin.xiangxue.delegate.DelegateActivity" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity1" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity2" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity3" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity4" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity5" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity6" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity7" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity8" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity9" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity10" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity11" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity12" />
        <activity android:name="com.example.kotlin.xiangxue.delegate.TestDelegateActivity13" />

        <activity android:name="com.example.kotlin.xiangxue.lamda.LamdaActivity" />
        <activity android:name="com.example.kotlin.xiangxue.lamda.TestLamdaActivity1" />
        <activity android:name="com.example.kotlin.xiangxue.lamda.TestLamdaActivity2" />

        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity1" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity2" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity3" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity4" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity5" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity6" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity7" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity8" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity9" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity10" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity11" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity12" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity13" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity14" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity15" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity16" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity17" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity18" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity19" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity20" />
        <activity android:name="com.example.kotlin.xiangxue.higher.HigherActivity21" />

        <activity android:name="com.example.kotlin.xiangxue.dsl.DslActivity" />
        <activity android:name="com.example.kotlin.xiangxue.dsl.DslActivity1" />
        <activity android:name="com.example.kotlin.xiangxue.dsl.DslActivity2" />
        <activity android:name="com.example.kotlin.xiangxue.dsl.DslActivity3" />
        <activity android:name="com.example.kotlin.xiangxue.dsl.DslActivity4" />
        <activity android:name="com.example.kotlin.xiangxue.dsl.DslHtmlActivity5" />

        <activity android:name="com.example.kotlin.xiangxue.coroutines.CoroutinesActivity" />
        <activity android:name="com.example.kotlin.xiangxue.coroutines.CoroutinesActivity1" />
        <activity android:name="com.example.kotlin.xiangxue.coroutines.CoroutinesActivity2" />
        <activity android:name="com.example.kotlin.xiangxue.coroutines.CoroutinesActivity3" />
        <activity android:name="com.example.kotlin.xiangxue.coroutines.CoroutinesActivity4" />
        <activity android:name="com.example.kotlin.xiangxue.coroutines.jetpack_mvvm_coroutinue.activity.CoroutinesActivity5" />
        <activity android:name="com.example.kotlin.xiangxue.coroutines.CoroutinesActivity6" />

        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity1" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity2" />
        <activity android:name="com.example.kotlin.xiangxue.generic.generic3.GenericActivity3" />
        <activity android:name="com.example.kotlin.xiangxue.generic.generic3.GenericActivity3Kt" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity4" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity5" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity6" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity7" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity8" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity9" />
        <activity android:name="com.example.kotlin.xiangxue.generic.GenericActivity10" />

        <activity android:name="com.example.kotlin.xiangxue.structure.StructureActivity" />

        <activity android:name="com.example.kotlin.practice.PracticeActivity" />
        <activity android:name="com.example.kotlin.practice.test1.PracticeActivity1" />
        <activity android:name="com.example.kotlin.practice.test2.PracticeActivity2" />
        <activity android:name="com.example.kotlin.practice.test3.PracticeActivity3" />
        <activity android:name="com.example.kotlin.practice.test4.PracticeActivity4" />
        <activity android:name="com.example.kotlin.practice.test5.PracticeActivity5" />
        <activity android:name="com.example.kotlin.practice.test6.PracticeActivity6" />
        <activity android:name="com.example.kotlin.practice.test7.PracticeActivity7" />
        <activity android:name="com.example.kotlin.practice.test8.PracticeActivity8" />
        <activity android:name="com.example.kotlin.practice.test9.PracticeActivity9" />
        <activity android:name="com.example.kotlin.practice.test10.PracticeActivity10J" />
        <activity android:name="com.example.kotlin.practice.test11.PracticeActivity11" />
        <activity android:name="com.example.kotlin.practice.test12.PracticeActivity12" />
        <activity android:name="com.example.kotlin.practice.test14.PracticeActivity14" />
        <activity android:name="com.example.kotlin.practice.test15.PracticeActivity15" />
        <activity android:name="com.example.kotlin.practice.test16.PracticeActivity16" />
        <activity android:name="com.example.kotlin.practice.test17.PracticeActivity17" />
        <activity android:name="com.example.kotlin.practice.test18.PracticeActivity18" />

        <activity android:name="com.example.kotlin.mvc.kotlin.MvcKotlinActivity" />
        <activity android:name="com.example.kotlin.mvc.kotlin.test_activity.view.TestMvpActivity" />
        <activity android:name="com.example.kotlin.mvc.kotlin.test_fragment.view.TestFragmentActivity1" />
        <activity android:name="com.example.kotlin.mvc.kotlin.test_multi_fragment.view.TestMultiPartyFragmentActivity" />
        <activity android:name="com.example.kotlin.mvc.kotlin.test_multi_activity.view.TestMultiPartyActivity" />

        <activity android:name="com.example.kotlin.flow.FlowActivity" />
        <activity android:name="com.example.kotlin.flow.test1.FlowActivity1" />
        <activity android:name="com.example.kotlin.flow.test2.FlowActivity2" />
        <activity android:name="com.example.kotlin.flow.test4.FlowActivity4" />
        <activity android:name="com.example.kotlin.flow.test5.FlowActivity5" />
        <activity android:name="com.example.kotlin.flow.test6.FlowActivity6" />
        <activity android:name="com.example.kotlin.flow.test7.FlowActivity7" />
        <activity android:name="com.example.kotlin.flow.test8.FlowActivity8" />
        <activity android:name="com.example.kotlin.flow.test9.FlowActivity9" />

    </application>

</manifest>