<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.kotlin.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.kotlin.normal.KotlinActivity" />
        <activity android:name="com.example.kotlin.normal.var1.VarActivity" />
        <activity android:name="com.example.kotlin.normal.var1.FunActivity" />
        <activity android:name="com.example.kotlin.normal.logic.LogicActivity" />
        <activity android:name="com.example.kotlin.normal.obj.ObjActivity" />
        <activity android:name="com.example.kotlin.normal.obj.obj1.ObjActivity1" />
        <activity android:name="com.example.kotlin.normal.obj.obj2.ObjActivity2" />
        <activity android:name="com.example.kotlin.normal.obj.obj3.ObjActivity3" />
        <activity android:name="com.example.kotlin.normal.obj.obj4.ObjActivity4" />
        <activity android:name="com.example.kotlin.normal.obj.obj5.ObjActivity5" />
        <activity android:name="com.example.kotlin.normal.obj.obj6.ObjActivity6" />
        <activity android:name="com.example.kotlin.normal.obj.obj7.ObjActivity7" />
        <activity android:name="com.example.kotlin.normal.obj.obj8.ObjActivity8" />
        <activity android:name="com.example.kotlin.normal.obj.obj9.ObjActivity9" />
        <activity android:name="com.example.kotlin.normal.obj.obj10.ObjActivity10" />
        <activity android:name="com.example.kotlin.normal.obj.obj11.ObjActivity11" />
        <activity android:name="com.example.kotlin.normal.obj.data.DataActivity" />
        <activity android:name="com.example.kotlin.normal.obj.singleton.SingletonActivity" />

        <activity android:name="com.example.kotlin.normal.lambda.LambdaActivity" />
        <activity android:name="com.example.kotlin.normal.npe.NpeActivity" />
        <activity android:name="com.example.kotlin.normal.standard.StandardActivity" />
        <activity android:name="com.example.kotlin.normal.standard.StandardActivity1" />
        <activity android:name="com.example.kotlin.normal.late.LateActivity" />

        <activity android:name="com.example.kotlin.ui.UiActivity" />
        <activity android:name="com.example.kotlin.ui.recyclerview.RecyclerActivity" />
        <activity android:name="com.example.kotlin.ui.recyclerview.RecyclerViewActivity1" />

        <activity android:name="com.example.kotlin.jetpack.JetpackActivity" />
        <activity android:name="com.example.kotlin.jetpack.lifecycle.LifeCycleActivity" />
        <activity android:name="com.example.kotlin.jetpack.viewmodel.ViewModelActivity" />
        <activity android:name="com.example.kotlin.jetpack.viewmodel.ViewModelActivity2" />
        <activity android:name="com.example.kotlin.jetpack.livedata.LiveDataActivity" />

        <activity android:name="com.example.kotlin.delegate.DelegateActivity" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity1" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity2" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity3" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity4" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity5" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity6" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity7" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity8" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity9" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity10" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity11" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity12" />
        <activity android:name="com.example.kotlin.delegate.TestDelegateActivity13" />

        <activity android:name="com.example.kotlin.lamda.LamdaActivity" />
        <activity android:name="com.example.kotlin.lamda.TestLamdaActivity1" />
        <activity android:name="com.example.kotlin.lamda.TestLamdaActivity2" />

        <activity android:name="com.example.kotlin.higher.HigherActivity" />
        <activity android:name="com.example.kotlin.higher.HigherActivity1" />
        <activity android:name="com.example.kotlin.higher.HigherActivity2" />
        <activity android:name="com.example.kotlin.higher.HigherActivity3" />
        <activity android:name="com.example.kotlin.higher.HigherActivity4" />
        <activity android:name="com.example.kotlin.higher.HigherActivity5" />
        <activity android:name="com.example.kotlin.higher.HigherActivity6" />
        <activity android:name="com.example.kotlin.higher.HigherActivity7" />
        <activity android:name="com.example.kotlin.higher.HigherActivity8" />
        <activity android:name="com.example.kotlin.higher.HigherActivity9" />
        <activity android:name="com.example.kotlin.higher.HigherActivity10" />
        <activity android:name="com.example.kotlin.higher.HigherActivity11" />
        <activity android:name="com.example.kotlin.higher.HigherActivity12" />
        <activity android:name="com.example.kotlin.higher.HigherActivity13" />
        <activity android:name="com.example.kotlin.higher.HigherActivity14" />
        <activity android:name="com.example.kotlin.higher.HigherActivity15" />
        <activity android:name="com.example.kotlin.higher.HigherActivity16" />
        <activity android:name="com.example.kotlin.higher.HigherActivity17" />
        <activity android:name="com.example.kotlin.higher.HigherActivity18" />
        <activity android:name="com.example.kotlin.higher.HigherActivity19" />
        <activity android:name="com.example.kotlin.higher.HigherActivity20" />
        <activity android:name="com.example.kotlin.higher.HigherActivity21" />

        <activity android:name="com.example.kotlin.dsl.DslActivity" />
        <activity android:name="com.example.kotlin.dsl.DslActivity1" />
        <activity android:name="com.example.kotlin.dsl.DslActivity2" />
        <activity android:name="com.example.kotlin.dsl.DslActivity3" />
        <activity android:name="com.example.kotlin.dsl.DslActivity4" />
        <activity android:name="com.example.kotlin.dsl.DslHtmlActivity5" />

        <activity android:name="com.example.kotlin.coroutines.CoroutinesActivity" />
        <activity android:name="com.example.kotlin.coroutines.CoroutinesActivity1" />
        <activity android:name="com.example.kotlin.coroutines.CoroutinesActivity2" />
        <activity android:name="com.example.kotlin.coroutines.CoroutinesActivity3" />
        <activity android:name="com.example.kotlin.coroutines.CoroutinesActivity4" />
        <activity android:name="com.example.kotlin.coroutines.jetpack_mvvm_coroutinue.activity.CoroutinesActivity5" />
        <activity android:name="com.example.kotlin.coroutines.CoroutinesActivity6" />

        <activity android:name="com.example.kotlin.generic.GenericActivity" />
        <activity android:name="com.example.kotlin.generic.GenericActivity1" />
        <activity android:name="com.example.kotlin.generic.GenericActivity2" />
        <activity android:name="com.example.kotlin.generic.generic3.GenericActivity3" />
        <activity android:name="com.example.kotlin.generic.generic3.GenericActivity3Kt" />
        <activity android:name="com.example.kotlin.generic.GenericActivity4" />
        <activity android:name="com.example.kotlin.generic.GenericActivity5" />
        <activity android:name="com.example.kotlin.generic.GenericActivity6" />
        <activity android:name="com.example.kotlin.generic.GenericActivity7" />
        <activity android:name="com.example.kotlin.generic.GenericActivity8" />
        <activity android:name="com.example.kotlin.generic.GenericActivity9" />
        <activity android:name="com.example.kotlin.generic.GenericActivity10" />

        <activity android:name="com.example.kotlin.structure.StructureActivity" />

    </application>

</manifest>